---
interface Frontmatter {
  title: string;
  description?: string;
  published?: string;
  tags?: string[];
}

import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob<Frontmatter>("./blog/*.md");
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto w-full max-w-prose p-10">
    <div class="py-20 text-slate-800">
      <h1 class="mb-10 text-7xl font-extrabold">
        <span class="italic">Hello!</span> 👋
      </h1>
      <p class="text-xl">
        Welcome to my blog, my name is Oliver! I intent to write about what ever
        I might be working on at the moment!
      </p>
    </div>
    <div>
      <ol class="ml-4">
        {
          posts.map((p) => (
            <li class="w-full rounded-xl p-4 shadow-lg transition hover:shadow-xl">
              <a href={p.url} class="flex pb-3">
                <h3 class="text-xl text-slate-800">{p.frontmatter.title}</h3>
              </a>
              <div class="space-x-1 text-slate-500">
                {p.frontmatter.tags &&
                  p.frontmatter.tags.map((tag) => (
                    <a class="rounded bg-slate-100 px-1">{tag}</a>
                  ))}
              </div>
              <div class="text-slate-400">
                {p.frontmatter.published &&
                  new Date(p.frontmatter.published).toDateString()}
              </div>
            </li>
          ))
        }
      </ol>
    </div>
  </main>
</Layout>
